<button type="button" onclick="SelectCultivos()" name="CrearCultivoRiego" id="CrearCultivoRiego"
    class="btn btn-primary btn-icon-split btn-sm" data-bs-toggle="modal" data-bs-target="#Riego">
    <span class="icon text-white-50">
        <i class="fas fa-spa"></i>
    </span>
    <span class="text">Registrar Riego</span>
</button>
<hr>
<!-- Inicio Tabla-->
<div class="card shadow mb-4">
    <div class="card-header py-3 centro">
        <h6 class="m-0 font-weight-bold text-primary">Calculos Riego</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th>Cultivo</th>
                        <th>ETo</th>
                        <th>ETc</th>
                        <th>Fase</th>
                        <th>Kc</th>
                        <th>Fecha Fase Cultivo</th>
                        <th>R.R</th>
                        <th>Volumen Agua</th>
                        <th>Aplicación Agua</th>
                        <th>Actualizar</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Fin Tabla-->
<hr>
<div class="container1">

    <div class="card">
        <img src="/imagenes/riego.jpg" alt="">
        <h4>Sistema de Riego por goteo</h4>

        <div class="PruebaImagen">
            <img id="imagenvalvula1" alt="">

        </div>
        <div id="datos" class="PruebaImagen">
        </div>
        <div id="valvula">
        </div>
        <br>
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <button type="submit" class="btn btn-danger" id="btn_eliminar_riego" name="btn_eliminar_riego"
                    disabled>Eliminar Riego</button>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <hr>
    </div>

    <div class="card">
        <img src="/imagenes/automatizacion.jpg" alt="">
        <h4>Programar Riego</h4>
        <h5>Automatizado</h5>
        <div class="form-group row">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary" id="btn_activar_aut" name="btn_activar_aut"
                    disabled>Activar</button>
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-danger" id="btn_desactivar_aut" name="btn_desactivar_aut"
                    disabled>Desactivar</button>
            </div>
        </div>

        <h5>Manual</h5>
        <div class="form-group row">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary" id="btn_activar_man" name="btn_activar_man"
                    disabled>Activar</button>
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-danger" id="btn_desactivar_man" name="btn_desactivar_man"
                    disabled>Desactivar</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="cli_id" name="cli_id" value="{{#cliente_id user 1}}{{/cliente_id}}">
<input type="hidden" id="manual" name="manual" value="{{sensores.estado_manual}}">
<input type="hidden" id="automatico" name="automatico" value="{{sensores.estado_automatico}}">
<input type="hidden" id="valvula_id" name="valvula" value="{{sensores.valvula}}">
<input type="hidden" id="aux" name="aux">
<input type="hidden" id="riego_cultivo" name="riego_cultivo" value="{{ sensores.riego_cultivo}}">
<input type="hidden" id="cultivo_id" name="cultivo_id" value="{{sensores.cultivo_id}}">
<input type="hidden" id="Eto" name="Eto" value="">
<input type="hidden" id="riego_cul_id" name="rig_cul_id" value="{{sensores.riego_cultivo_id}}">
<input type="hidden" id="cultivoRiego" name="rig_cul_id" value="{{sensores.riego_cultivo_id}}">
<input type="hidden" id="tiempoRiego" name="tiempoRiego" value="{{sensores.tiempo_aplicacion}}">
<input type="hidden" id="etapades" name="etapades" value="{{sensores.EtapaDesarrolllo}}">


<hr>
<!-- Inicio Modal Modulo!-->
<div class="modal fade" id="Riego" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header text-primary">
                <h5 class="modal-title " id="exampleModalLabel">Registrar Riego</h5>
            </div>

            <form id="forRol">
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <select name="cultivo" id="cultivo" class="form-control form-control-user">
                            </select>
                            <div id="grupo_cultivo"></div>
                        </div>
                        <div class="col-sm-6">
                            <select name="etapacultivo" id="etapacultivo" class="form-control form-control-user">
                                <option value="0">Seleccione fase cultivo</option>
                                <option value="1">Fase inicial</option>
                                <option value="2">Fase Desarrollo</option>
                                <option value="3">Fase Media</option>
                                <option value="4">Fase Maduración</option>
                            </select>
                            <div id="grupo_etapacultivo"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div>
                                <input type="text" class="form-control form-control-user" id="distgoteros"
                                    name="distgoteros" placeholder="Dist goteros en m">
                            </div>
                            <div id="grupo_distgoteros"></div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <input type="text" class="form-control form-control-user" id="q_goteros"
                                    name="q_goteros" placeholder="Q Goteros">
                            </div>
                            <div id="grupo_qgoteros"></div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer" id="BotonesCrear">
                    <button type="button" class="btn btn-secondary btn-icon-split btn-sm" id="btn_Cerrar"
                        data-bs-dismiss="modal">
                        <span class="icon text-white-50">
                            <i class="fa fa-window-close"></i>
                        </span>
                        <span class="text">Cerrar</span>
                    </button>
                    <button type="submit" value="CrearRiego" class="btn btn-primary btn-icon-split btn-sm"
                        id="btn_CrearRiego">
                        <span class="icon text-white-50">
                            <i class="fa fa-save"></i>
                        </span>
                        <span class="text">Guardar</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Inicio Modal Modulo!-->
<div class="modal fade" id="EtapaDesarrolllo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header text-primary">
                <h5 class="modal-title " id="exampleModalLabel">ETAPA CULTIVO</h5>
            </div>
            <form id="forRol">
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <select name="etapacultivoAct" id="etapacultivoAct" class="form-control form-control-user">
                                <option value="1">Fase inicial</option>
                                <option value="2">Fase Desarrollo</option>
                                <option value="3">Fase Media</option>
                                <option value="4">Fase Maduración</option>
                            </select>
                            <div id="grupo_etapacultivo"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-icon-split btn-sm" id="btn_CerrarEtapa"
                            data-bs-dismiss="modal">
                            <span class="icon text-white-50">
                                <i class="fa fa-window-close"></i>
                            </span>
                            <span class="text">Cerrar</span>
                        </button>
                        <button type="submit" value="Actualizar" class="btn btn-primary btn-icon-split btn-sm"
                            id="btn_ActualizarEtapa">
                            <span class="icon text-white-50">
                                <i class="fa fa-save"></i>
                            </span>
                            <span class="text">Guardar</span>
                        </button>
                    </div>
            </form>
        </div>
    </div>
</div>

<script>

    const btnCrear = document.querySelector("#btn_Crear");
    const btnCrearRiego = document.querySelector("#btn_CrearRiego");
    const btn_activar_aut = document.querySelector("#btn_activar_aut");
    const btn_activar_man = document.querySelector("#btn_activar_man");
    const btn_desactivar_man = document.querySelector("#btn_desactivar_man");
    const btn_eliminar_riego = document.querySelector("#btn_eliminar_riego");
    const btn_desactivar_aut = document.querySelector("#btn_desactivar_aut");
    const btn_ActualizarEtapa = document.querySelector("#btn_ActualizarEtapa");
    const imagenllaves = document.querySelector("#imagenvalvula1");

    function SelectCultivos() {
        let rol = document.getElementById("cultivo");
        let mensaje = " <option selected value='0'>Escoga el cultivo...</option>";
        var URLRoles = "/GestionCultivo/Cultivos";
        $.ajax({
            url: URLRoles,
            type: "get",
            dataType: "json",
            success: function (response) {
                response.forEach(cultivo => {
                    mensaje += "<option value='" + cultivo.cul_id + "'>" + cultivo.cul_nombre + "</option>";
                });
                rol.innerHTML = mensaje;
                imagenllaves.src = "imagenes/valvula.png";
            }
        });

    }

    btn_ActualizarEtapa.addEventListener("click", function (e) {
        e.preventDefault();
        let EtapaDesarrolllo = $("#etapacultivoAct").val();
        let id = $("#riego_cul_id").val();
        let tiempoRiego=$("#tiempoRiego").val();
        let URL = "/CalculosRiego/ActualizarRiegoCultivo/" + id;
        $.ajax({
            url: URL,
            type: "post",
            dataType: "json",
            data: {
                EtapaDesarrolllo, tiempoRiego
            },
            success: function (res) {
                if (res.response == "success") {
                    toastr["success"](res.mensaje);
                    $("#etapades").val(EtapaDesarrolllo);
                    $("#EtapaDesarrolllo").modal("hide");
                    imagenllaves.src = "imagenes/valvula.png"
                    CalculosDtos1();
                }

            }
        })
    });



    btn_activar_aut.addEventListener("click", function (e) {
        e.preventDefault();
        let tiempoRiego=$("#tiempoRiego").val();
        Swal.fire({
            title: "Activar Automatización riego?",
            text: "Estas seguro!",
            icon: "info",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Activar",
        }).then((result) => {
            if (result.isConfirmed) {
                const cli_id = $("#cli_id").val();
                const URL = "/ActivacionRiego/RiegoAutomaticoActivado/" + cli_id;
                $.ajax({
                    url: URL,
                    type: "post",
                    dat:{tiempoRiego},
                    success: function (res) {
                        $("#btn_desactivar_aut").attr("disabled", false);
                        $("#btn_activar_aut").attr("disabled", true);
                        $("#btn_activar_man").attr("disabled", true);
                        $("#btn_eliminar_riego").attr("disabled", true);
                        imagenllaves.src = "imagenes/valvula.png"
                    }
                })
            }
        });
    });



    btn_desactivar_man.addEventListener("click", function (e) {
        e.preventDefault();
        Swal.fire({
            title: "Desactivar Riego Manual?",
            text: "Estas seguro!",
            icon: "error",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Desactivar",
        }).then((result) => {
            if (result.isConfirmed) {
                const cli_id = $("#cli_id").val();
                $.ajax({
                    url: "/ActivacionRiego/DesactivarManual/" + cli_id,
                    type: "get",
                    success: function (res) {
                        if (res.response == "success") {
                            toastr["success"](res.mensaje);
                            $("#btn_desactivar_man").attr("disabled", true);
                            $("#btn_activar_aut").attr("disabled", false);
                            $("#btn_activar_man").attr("disabled", false);
                            $("#btn_eliminar_riego").attr("disabled", false);
                            imagenllaves.src = "imagenes/valvula.png"
                        }
                    },
                });
            }
        });
    });
    btn_eliminar_riego.addEventListener("click", function (e) {

        Swal.fire({
            title: "Eliminar registro cultivo?",
            text: "Estas seguro!",
            icon: "error",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Eliminar!",
        }).then((result) => {
            if (result.isConfirmed) {
                const cli_id = $("#cli_id").val();
                const URL = "/ActivacionRiego/Eliminar/" + cli_id;
                $.ajax({
                    url: URL,
                    type: "get",
                    success: function (res) {
                        if (res.response == "success") {
                            toastr["success"](res.mensaje);
                            VerificadorTemp(0);
                            $("#cultivo_id").val(0);
                            $("#aux").val(0);
                            $("#btn_activar_aut").attr("disabled", true);
                            $("#btn_desactivar_aut").attr("disabled", true);
                            $("#btn_activar_man").attr("disabled", true);
                            $("#btn_desactivar_man").attr("disabled", true);
                            $("#CrearCultivoRiego").attr("disabled", false);
                            $("#btn_eliminar_riego").attr("disabled", true);
                            ActivacionCultivo();
                            imagenllaves.src = "imagenes/valvula.png"
                            document.querySelector("#datos").innerHTML = "";
                        }
                    }

                });
            }
        });

    });

    btn_activar_man.addEventListener("click", function (e) {
        e.preventDefault();

        let Eto = $("#Eto").val();
        let etapacultivo = $("#etapades").val();
        let tiempoRiego=$("#tiempoRiego").val();
        alert(tiempoRiego);
        Swal.fire({
            title: "Activar electrovalvula Manual?",
            text: "Estas seguro!",
            icon: "info",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Activar",
        }).then((result) => {
            if (result.isConfirmed) {
                const cli_id = $("#cli_id").val();
                $.ajax({
                    url: "/ActivacionRiego/ActivarManual/" + cli_id,
                    type: "post",
                    dataType: "json",
                    data: { Eto, etapacultivo, tiempoRiego },
                    success: function (res) {
                        if (res.response == "success") {
                            toastr["success"](res.mensaje);
                            $("#btn_desactivar_man").attr("disabled", false);
                            $("#btn_desactivar_aut").attr("disabled", true);
                            $("#btn_activar_aut").attr("disabled", true);
                            $("#btn_activar_man").attr("disabled", true);
                            $("#btn_eliminar_riego").attr("disabled", true);
                            imagenllaves.src = "imagenes/valvula_02.png";
                             ActivacionCultivo();

                        }
                    },
                });
            }
        });
    });


    btnCrearRiego.addEventListener("click", function (e) {
        e.preventDefault();
        var URL = "/ActivacionRiego/RiegoCultivo";
        $("#btn_activar_aut").attr("disabled", false);
        $("#btn_activar_man").attr("disabled", false);
        const cli_id = $("#cli_id").val();
        const cul_id = $("#cultivo").val();
        const etapacultivo = $("#etapacultivo").val();
        const caudal = $("#q_goteros").val();
        const dgoteros = $("#distgoteros").val();

        if (validarCbx1(cul_id, "grupo_cultivo", "Seleccione cultivo")) {
            if (validarCbx1(etapacultivo, "grupo_etapacultivo", "Seleccione base desarrollo ")) {

                if (campoVacio(dgoteros, "grupo_distgoteros", "Ingres el valor distancia del gotero")) {
                    if (validarNumerosIntDoubles(dgoteros, "grupo_distgoteros", "valor incorrecto")) {

                        if (campoVacio(caudal, "grupo_qgoteros", "Ingres el cauldal del gotero")) {
                            if (validarNumerosIntDoubles(caudal, "grupo_qgoteros", "valor incorrecto")) {
                                $.ajax({
                                    url: URL,
                                    type: "post",
                                    dataType: "json",
                                    data: {
                                        cli_id, cul_id, etapacultivo, caudal, dgoteros
                                    }, success: function (res) {
                                        $("#Riego").modal("hide");
                                        $('#cultivoRiego').val(res.id);
                                        $('#riego_cul_id').val(res.id);
                                        $('#cultivo_id').val(res.id);
                                        $('#aux').val(1);
                                        $("#etapades").val(etapacultivo);
                                        imagenllaves.src = "imagenes/valvula.png"
                                        ActivacionCultivo();


                                    }
                                });
                            }

                        }
                    }

                }

            }
        }
        /*  */
    });

    btn_desactivar_aut.addEventListener("click", function (e) {
        e.preventDefault();
        Swal.fire({
            title: "Desactivar Riego Automatico?",
            text: "Estas seguro!",
            icon: "error",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Desactivar",
        }).then((result) => {
            if (result.isConfirmed) {
                var URL = "/ActivacionRiego/DesactivarActumatico";
                $.ajax({
                    url: URL,
                    type: "get",
                    success: function (res) {
                        $("#btn_desactivar_aut").attr("disabled", true);
                        $("#btn_activar_aut").attr("disabled", false);
                        $("#btn_activar_man").attr("disabled", false);
                        $("#btn_eliminar_riego").attr("disabled", false);
                        imagenllaves.src = "imagenes/valvula.png"
                    }
                });
            }
        });
    });

    function ActivacionCultivo() {
        imagenllaves.src = "imagenes/valvula.png";
        const cli_id = $("#cli_id").val();
        let id = $('#cultivoRiego').val()

        let tiempo_aplicacion = $('#tiempoRiego').val();


        DatosEcuacion();
        CalculosDtos();
        VerificadorTemp(cli_id);
        if ($('#riego_cultivo').val() == 1) {

            $("#CrearCultivoRiego").attr("disabled", true);

        } else {
            $("#CrearCultivoRiego").attr("disabled", false);
        }


        const URL = "/ActivacionRiego/ListaRiegoCultivo/" + cli_id;
        $.ajax({
            url: URL,
            type: "post",
            dataType: "json",
            data: { tiempo_aplicacion },
            success: function (res) {
                if ($('#aux').val() == cli_id) {

                    imagenllaves.src = "/imagenes/valvula.png"
                    const manual = $('#manual').val();
                    const automatico = $('#automatico').val();

                    if (manual == 1 && automatico == 0) {
                        $("#btn_desactivar_man").attr("disabled", false);
                        $("#btn_desactivar_aut").attr("disabled", true);
                        $("#btn_activar_aut").attr("disabled", true);
                        $("#btn_activar_man").attr("disabled", true);
                        $("#btn_eliminar_riego").attr("disabled", true);
                        $("#btn_CrearRiego").attr("disabled", true);
                        $("#CrearCultivoRiego").attr("disabled", true);
                        imagenllaves.src = "imagenes/valvula_02.png"

                    }
                    if (manual == 0 && automatico == 1) {
                        $("#btn_desactivar_man").attr("disabled", true);
                        $("#btn_desactivar_aut").attr("disabled", false);
                        $("#btn_activar_aut").attr("disabled", true);
                        $("#btn_activar_man").attr("disabled", true);
                        $("#btn_eliminar_riego").attr("disabled", true);
                        $("#btn_CrearRiego").attr("disabled", true);


                        if ($("#valvula_id").val() == 0) {
                            imagenllaves.src = "imagenes/valvula.png"

                        } else {
                            imagenllaves.src = "imagenes/valvula_02.png"


                        }
                    }

                    if (manual == 0 && automatico == 0) {
                        $("#btn_desactivar_man").attr("disabled", true);
                        $("#btn_desactivar_aut").attr("disabled", true);
                        $("#btn_activar_aut").attr("disabled", false);
                        $("#btn_activar_man").attr("disabled", false);
                        $("#btn_eliminar_riego").attr("disabled", false);
                        $("#CrearCultivoRiego").attr("disabled", true);
                        imagenllaves.src = "imagenes/valvula.png"
                    }

                } else {
                    $("#btn_CrearRiego").attr("disabled", false);
                    imagenllaves.src = "imagenes/valvula.png"

                }
            }
        });
    }

    function VerificadorTemp(cli_id) {
        const URL = "/ActivacionRiego/BuscarActivador/" + cli_id;
        $.ajax({
            url: URL,
            type: 'get',
            success: function (res) {
                $('#aux').val(res.cli_id);
            }
        });
    }

    function DatosEcuacion() {

        var URL = "/Formula/Ecuacion";
        $.ajax({
            url: URL,
            type: "get",
            dataType: "json",
            success: function (response) {
                response.forEach(ecuacion => {
                    let v2 = velocidadViento(ecuacion.ecu_vels, ecuacion.ecu_altura);
                    let y = constantepsicometric(ecuacion.ecu_msnm);
                    let Ra = RadiacionExtraterrestre(ecuacion.ecu_latitud, ecuacion.ecu_mes);
                    let N = InsolacionMaximaDiaria(ecuacion.ecu_latitud, ecuacion.ecu_mes);
                    let es = presionVaporSaturacion(ecuacion.ecu_Tmax, ecuacion.ecu_Tmin);
                    let ea = presionRealVapor(ecuacion.ecu_humedad_relativa_promedio, es);
                    let es_ea = (parseFloat(es) - parseFloat(ea)).toFixed(4);
                    let pcv = pendienteCurvaPresionVapor(ecuacion.ecu_Tpromedio);
                    let n = duracionInsolacion(N, ecuacion.ecu_despeje_nubes);
                    let Rn = radiacionNeta(ecuacion.ecu_Tmax, ecuacion.ecu_Tmin, ea, Ra, ecuacion.ecu_msnm, N, n);
                    let Eto = EcuacionPenmanMonteith(v2, y, pcv, es, ea, Rn, ecuacion.ecu_Tpromedio, ecuacion.ecu_flujoCalor);
                    $('#Eto').val(Eto);


                })
            }, error: function (e) {
                console.log(e.readyState);
            }
        });
        return Eto;
    }

    function CalculosDtos() {
        DatosEcuacion();
        let kc = 0;
        let riego_cul_id = $('#riego_cul_id').val();
        let URL = "RiegoCultivo/DatosCultivoRiego/" + riego_cul_id;
        let idetapa = $("#etapades").val();

        $.ajax({
            url: URL,
            type: "get",
            dataType: "json",
            success: function (response) {
                let tbody = $('tbody');
                tbody.html('');

                let Eto = $("#Eto").val();
                response.forEach((DatosCultivoRiego) => {
                    let fase = DatosCultivoRiego.rig_cul_base_desarrollo;
                    let frecuencia = DatosCultivoRiego.cul_frecuencia_riego;
                    let sp = DatosCultivoRiego.cul_dep;
                    let sl = DatosCultivoRiego.cul_dlp;
                    let se = DatosCultivoRiego.rig_cul_dista_goteros;
                    let caudal = DatosCultivoRiego.rig_cul_caudal;
                    let TpoMAduracio = DatosCultivoRiego.cul_TpoMaduracion;
                    let base = "";
                    let fecha = DatosCultivoRiego.rig_cul_fecha;
                    let fecha_array = fecha.split("T");
                    let tiempoMaduracion = DatosCultivoRiego.cul_TpoMaduracion;
                    let total_dias = ((tiempoMaduracion * 30) / 4);
                    var fecha1;
                    var fecha2; 
                    var fecha3;
                    var fecha4;
                    var dias = total_dias; // Número de días a agregar
                    let Ta=0;
                    let TaEnvio=0;
                    let mensaje_fecha = fecha_array[0];
                    let contador=0;
                    for (var i = idetapa; i <= 4; i++) {
                        if (i == 1) {
                            fecha1 = new Date(fecha_array[0]);
                            kc = DatosCultivoRiego.cul_kc1;
                            base = "Inicial";
                            mensaje_fecha = (fecha1.getFullYear() + "-" + (fecha1.getMonth() + 1) + "-" + (fecha1.getDate()));
                            contador++;
                        }
                        if (i == 2) {
                            fecha2 = new Date(mensaje_fecha);
                            fecha2.setDate(fecha2.getDate() + dias);
                            mensaje_fecha = (fecha2.getFullYear() + "-" + (fecha2.getMonth() + 1) + "-" + (fecha2.getDate()));
                            kc = DatosCultivoRiego.cul_kc2;
                            base = "Desarrollo";
                            contador++;
                        }
                        if (i == 3) {
                             fecha3 = new Date(mensaje_fecha);
                            fecha3.setDate(fecha3.getDate() + dias);
                            mensaje_fecha = (fecha3.getFullYear() + "-" + (fecha3.getMonth() + 1) + "-" + (fecha3.getDate()));
                            kc = DatosCultivoRiego.cul_kc3;
                            base = "Media";
                            contador++;
                        }
                        if (i == 4) {
                            fecha4 = new Date(mensaje_fecha);
                            fecha4.setDate(fecha4.getDate() + dias);
                            mensaje_fecha = (fecha4.getFullYear() + "-" + (fecha4.getMonth() + 1) + "-" + (fecha4.getDate() + 1));
                            kc = DatosCultivoRiego.cul_kc4;
                            base = "Maduración";
                            contador++;
                        }
                        let Etc = (Eto * kc).toFixed(4);
                        let RR = ((Etc / 90) * 100).toFixed();
                        let G = ((RR / frecuencia) * sp * sl).toFixed(4);
                        let Np = (sp / se);
                        Ta = ((((G / Np)) * caudal) * 60).toFixed();
                        let TaTotal = Ta * frecuencia;
                        let horas = (TaTotal / 60).toFixed();
                        let minutos = (TaTotal % 60).toFixed();
                        let total = horas + " h : " + minutos + " min"
                        if( contador==1){
                            TaEnvio=Ta;
                        }
                        

                        tbody.append(`
                    <tr>
                        <td>${DatosCultivoRiego.cul_nombre}</td>
                        <td>${Eto}(mm/día)</td>
                        <td>${Etc}(mm/día)</td>
                        <td>${base}</td>
                        <td>${kc}</td>
                         <td>${mensaje_fecha} </td>
                        <td>${RR} L</td>
                        <td>${G} L</td>
                        <td>${Ta} min</td>


                        
                         <td>
                            <a id="Actualizar"  title="Actualizar" value="CrearUsuario" class="tn btn-primary btn-circle"  data-bs-toggle="modal" data-bs-target="#EtapaDesarrolllo"
                               onclick="ActualizarUsuario(${DatosCultivoRiego.riego_cul_id})">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            
                        
                        </td>
                    </tr>
                `)

                $('#tiempoRiego').val(TaEnvio);
                    }

                })
            }, error: function (e) {
                console.log(e.readyState);
            }
        });

    }

       function CalculosDtos1() {
        DatosEcuacion();
        let kc = 0;
        let riego_cul_id = $('#riego_cul_id').val();
        let URL = "RiegoCultivo/DatosCultivoRiego/" + riego_cul_id;
        let idetapa = $("#etapades").val();

        $.ajax({
            url: URL,
            type: "get",
            dataType: "json",
            success: function (response) {
                let tbody = $('tbody');
                tbody.html('');

                let Eto = $("#Eto").val();
                response.forEach((DatosCultivoRiego) => {
                    let fase = DatosCultivoRiego.rig_cul_base_desarrollo;
                    let frecuencia = DatosCultivoRiego.cul_frecuencia_riego;
                    let sp = DatosCultivoRiego.cul_dep;
                    let sl = DatosCultivoRiego.cul_dlp;
                    let se = DatosCultivoRiego.rig_cul_dista_goteros;
                    let caudal = DatosCultivoRiego.rig_cul_caudal;
                    let TpoMAduracio = DatosCultivoRiego.cul_TpoMaduracion;
                    let base = "";
                    let fecha = DatosCultivoRiego.rig_cul_fecha;
                    let fecha_array = fecha.split("T");
                    let tiempoMaduracion = DatosCultivoRiego.cul_TpoMaduracion;
                    let total_dias = ((tiempoMaduracion * 30) / 4);
                    console.log(total_dias)
                    var fecha1;
                    var fecha2; 
                    var fecha3;
                    var fecha4;
                    var dias = total_dias; // Número de días a agregar
                    let Ta=0;
                    let TaEnvio=0;
                    let mensaje_fecha = fecha_array[0];
                    let contador=0;
                    for (var i = idetapa; i <= 4; i++) {
                        if (i == 1) {
                            fecha1 = new Date(fecha_array[0]);
                            kc = DatosCultivoRiego.cul_kc1;
                            base = "Inicial";
                            mensaje_fecha = (fecha1.getFullYear() + "-" + (fecha1.getMonth() + 1) + "-" + (fecha1.getDate() + 1));
                            contador++;
                        }
                        if (i == 2) {
                            fecha2 = new Date(mensaje_fecha);
                            fecha2.setDate(fecha2.getDate() + dias);
                            mensaje_fecha = (fecha2.getFullYear() + "-" + (fecha2.getMonth() + 1) + "-" + (fecha2.getDate() + 1));
                            kc = DatosCultivoRiego.cul_kc2;
                            base = "Desarrollo";
                            contador++;
                        }
                        if (i == 3) {
                             fecha3 = new Date(mensaje_fecha);
                            fecha3.setDate(fecha3.getDate() + dias);
                            mensaje_fecha = (fecha3.getFullYear() + "-" + (fecha3.getMonth() + 1) + "-" + (fecha3.getDate() + 1));
                            kc = DatosCultivoRiego.cul_kc3;
                            base = "Media";
                            contador++;
                        }
                        if (i == 4) {
                            fecha4 = new Date(mensaje_fecha);
                            fecha4.setDate(fecha4.getDate() + dias);
                            mensaje_fecha = (fecha4.getFullYear() + "-" + (fecha4.getMonth() + 1) + "-" + (fecha4.getDate() + 1));
                            kc = DatosCultivoRiego.cul_kc4;
                            base = "Maduración";
                            contador++;
                        }
                        let Etc = (Eto * kc).toFixed(4);
                        let RR = ((Etc / 90) * 100).toFixed();
                        let G = ((RR / frecuencia) * sp * sl).toFixed(4);
                        let Np = (sp / se);
                        Ta = ((((G / Np)) * caudal) * 60).toFixed();
                        let TaTotal = Ta * frecuencia;
                        let horas = (TaTotal / 60).toFixed();
                        let minutos = (TaTotal % 60).toFixed();
                        let total = horas + " h : " + minutos + " min"
                        if( contador==1){
                            TaEnvio=Ta;
                        }
                        

                        tbody.append(`
                    <tr>
                        <td>${DatosCultivoRiego.cul_nombre}</td>
                        <td>${Eto}(mm/día)</td>
                        <td>${Etc}(mm/día)</td>
                        <td>${base}</td>
                        <td>${kc}</td>
                         <td>${mensaje_fecha} </td>
                        <td>${RR} L</td>
                        <td>${G} L</td>
                        <td>${Ta} min</td>


                        
                         <td>
                            <a id="Actualizar"  title="Actualizar" value="CrearUsuario" class="tn btn-primary btn-circle"  data-bs-toggle="modal" data-bs-target="#EtapaDesarrolllo">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            
                        
                        </td>
                    </tr>
                `)

                $('#tiempoRiego').val(TaEnvio);
                    }

                })
            }, error: function (e) {
                console.log(e.readyState);
            }
        });

    }







    window.onload = ActivacionCultivo;
</script>